* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    overflow-x: hidden;
}

.container {
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.top-with-logout {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 50px;
    background-color: #ededed;
}

.top-container {
    display: flex;
    align-items: center;
    gap: 50px;
}

    .top-container .left {
        display: flex;
        gap: 50px;
    }

.profile-picture {
    width: 240px;
    height: 240px;
    aspect-ratio: 1;
    border-radius: 200px;
    background-color: #d9d9d9;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .profile-picture img {
        width: 50%;
    }

.identity-container-1 {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-self: center;
    height: 240px;
    justify-content: space-between;
    margin-top: 40px;
}

    .identity-container-1 .top {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

.insert-button {
    background-color: #4cd681;
    border: none;
    color: white;
    padding: 8px 12px;
    font-weight: 500;
    border-radius: 4px;
    justify-content: flex-start;
}

.insert-button-container {
    display: flex;
    gap: 16px;
}

.name {
    font-weight: 600;
    font-size: 3rem;
}

.brief-description {
    color: #a3a3a3;
    font-size: 1.8rem;
    font-weight: 300;
}

.major-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.icon {
    width: 36px;
    height: auto;
    aspect-ratio: 1;
}

.major {
    color: #5a5858;
    font-size: 1.15rem;
    font-weight: 300;
}

.right {
    display: flex;
    flex-direction: row;
    position: relative;
}

.divider {
    display: block;
    width: 2px;
    height: 100%;
    margin: 0 30px;
    background-color: #d4d4d4;
    position: absolute;
}

.identity-container-2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 60px;
    padding: 16px 0;
}

    .identity-container-2 .row {
        display: flex;
        align-items: center;
        gap: 24px;
    }

        .identity-container-2 .row .row-title {
            display: inline-block;
            width: 180px;
        }

        .identity-container-2 .row .row-info {
            color: #918F8F;
        }

.availability {
    color: white;
    background-color: #4CD681;
    padding: 6px 18px;
    border-radius: 100px;
    font-weight: 500;
}

.logout-button {
    background-color: #FF0000;
    border: none;
    border-radius: 28px;
    color: white;
    padding: 14px 40px;
    align-self: end;
    font-weight: 600;
    cursor: pointer;
}

.socials-row {
    margin-top: 10px;
}

.profile-title {
    margin: 20px 20px 14px;
    color: #6e6e6e;
    font-size: 1.6rem;
    display: inline-block;
    max-width: 500px;
}

.mid-container {
    margin: 36px 0;
    display: flex;
    justify-content: space-between;
}

.about-container {
    background-color: #ededed;
    display: flex;
    flex-direction: column;
    padding: 36px;
    gap: 16px;
    width: 60vw;
}

.mid-container .title {
    font-size: 1.4rem;
}

.about-text {
    opacity: 55%;
    font-size: 1.1rem;
}

.skills-list {
    list-style-type: none;
}

.skill-item {
    position: relative;
    padding-left: 1.2rem;
    color: rgba(0, 0, 0, 0.55);
}

    .skill-item::before {
        content: '•';
        position: absolute;
        left: 0;
        color: black;
    }

.contact-container {
    background-color: #ededed;
    display: flex;
    flex-direction: column;
    padding: 36px;
    gap: 16px;
    width: 27.7vw;
}

    .contact-container .row {
        display: flex;
        gap: 30px;
        align-items: center;
    }

.contact-icon {
    width: 30px;
    height: auto;
    aspect-ratio: 1;
}

.contact-container .contact {
    color: #444343;
}

.contact-container hr {
    border: none;
    background-color: #d4d1d1;
    height: 1px;
}

.referral-container {
    display: flex;
    gap: 16px;
}

.referral-picture {
    width: 55px;
    height: 55px;
    border-radius: 200px;
    background-color: #d9d9d9;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

    .referral-picture img {
        width: 50%;
    }

.referral-content {
    padding-top: 8px;
}

.referral-name {
    font-size: 1.2rem;
}

.referral-brief-description {
    color: #817E7E;
    font-size: 0.9rem;
}

.referral-message {
    color: #514E4E;
    font-size: 0.8rem;
    margin: 10px 0 8px;
}

.languages {
    display: flex;
    gap: 40px;
    margin-top: 12px;
}

.language-1 {
    display: flex;
    gap: 10px;
    color: #737373;
    font-size: 0.8rem;
    align-items: center;
}

.language-flag {
    width: 30px;
}
