* {
    margin: 0;
    padding: 0;
    font-family: 'Inter';
}

.header {
    display: flex;
    width: 100%;
    background-color: #4CD681;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 50px 50px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70vw;
    margin: 5rem 0;
}

    .header-container .left {
        display: flex;
        flex-direction: column;
        gap: 1vh;
    }

        .header-container .left h1 {
            font-size: 42px;
            font-weight: bold;
            width: 50vw;
        }

        .header-container .left p {
            font-size: 24px;
            width: 50vw;
            margin-bottom: 1vh;
        }

        .header-container .left a {
            font-size: 22px;
            width: 200px;
            padding: 8px;
            background-color: white;
            border-radius: 30px;
            text-decoration: none;
            color: black;
            font-weight: 600;
            text-align: center;
        }

/* Popular Companies */

.popular-companies {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

    .popular-companies .popular-container {
        display: flex;
        gap: 2rem;
        margin: 5rem 0;
        flex-direction: column;
        width: 80vw;
    }

    .popular-companies .title {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

        .popular-companies .title h1 {
            font-size: 40px;
        }

        .popular-companies .title .view-all {
            display: flex;
            align-items: center;
            gap: 0.5rem;
        }

        .popular-companies .title a {
            text-decoration: none;
        }

        .popular-companies .title .view-all span {
            color: black;
            text-decoration: underline;
            font-size: 20px;
        }

.popular-container .box {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.popular-companies .box .box-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    background-color: #F3F3F3;
    border-radius: 20px;
    width: 16vw;
}

    .popular-companies .box .box-container .top .description {
        display: flex;
        flex-direction: column;
        gap: 0.2vh;
    }

.popular-companies .box-container .top {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.popular-companies .top .image img {
    width: 100%;
}

.popular-companies .top h1 {
    font-size: 150%;
    font-weight: bold;
}

.popular-companies .top h2 {
    font-size: 90%;
    font-weight: 300;
}

.popular-companies .top p {
    font-size: 80%;
    font-weight: 300;
}

.popular-companies .bottom .bottom-div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.star {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

    .star span {
        font-size: 90%;
    }

/* Services */

.services {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.services-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 4rem 0;
    width: 80vw;
}

    .services-container .top {
        display: flex;
        gap: 2rem;
        align-items: center;
    }

        .services-container .top h1 {
            font-size: 70px;
            font-weight: bold;
        }

        .services-container .top p {
            font-size: 19px;
            font-weight: 300;
            width: 45vw;
        }

    .services-container .bottom {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        row-gap: 6vh;
        justify-content: space-between;
    }

    .services-container .box {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .services-container .box-container-green,
    .services-container .box-container-white {
        display: flex;
        padding: 1rem;
        background-color: #4CD681;
        border-radius: 30px;
        border: 2px solid black;
        width: 34vw;
        height: 28vh;
        align-items: center;
        justify-content: space-between;
        box-shadow: black 5px 5px;
        padding: 2rem;
    }

    .services-container .box-container-white {
        background-color: #FFFFFF;
    }

    .services-container .right {
        display: flex;
    }

    .services-container .box-container-white .arrow,
    .services-container .box-container-green .arrow,
    .services-container .box .right-img {
        width: 40%;
    }

    .services-container .left {
        display: flex;
        flex-direction: column;
        gap: 5vh;
    }

    .services-container .box-container-green .left h2 {
        font-size: 45px;
        color: white;
        width: 10vw;
    }

    .services-container .box-container-white .left h2 {
        font-size: 45px;
        color: black;
        width: 10vw;
    }

/* Popular Job Industries */

.popular-job {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.jobs-container {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    width: 90vw;
    margin: 5rem 0;
    align-items: center;
    justify-content: center;
}

    .jobs-container .top {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 80vw;
        margin-bottom: 2rem;
    }

        .jobs-container .top h1 {
            font-size: 60px;
        }

        .jobs-container .top p {
            font-size: 20px;
            font-weight: 300;
            width: 48vw;
        }

    .jobs-container .bottom-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 85vw;
    }

        .jobs-container .bottom-container .box {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 2rem;
            border: 1px solid black;
            width: 24vw;
            height: 15vh;
        }

            .jobs-container .bottom-container .box .description {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

                .jobs-container .bottom-container .box .description span {
                    font-size: 20px;
                }
